body,
html { color: #333; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: r(24); font-family: PingFangSC, microsoft yahei; height: 100%; }

a,
input,
button { outline: none; }

img { vertical-align: middle; }

.semibold { font-family: PingFangSC-Semibold; }
.medium { font-family: PingFangSC-Medium; }

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    height: 100%;
}

.page {
    min-height: 100%;
}